<section id="$additional_id$" class="contenuadd $type$ $if(source)$$source$$endif$ $if(priority)$$priority$$endif$">
<h3>En savoir plus sur $title$</h3>
<div class="description">

$body$

$if(credits)$<p class="credits">Crédits&nbsp;: $credits$ </p>$endif$

$linkedTo$

</div>

<div class="rdfa" style="display: none">
$if(date)$<span class="date">$date$</span>$endif$
$if(lang)$<span class="lang">$lang$</span>$endif$
$if(keywords)$<span class="keywords">$keywords$</span>$endif$
</div>

</section>
